@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --text: #333;
    --bg: #fff;
    --accent: #fffae9;
    --high-contrast-text: #000;
    --alt-bg: #0000003a;
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    transition-duration: 1s;
    color: var(--text);
    text-wrap: balance;
    word-wrap: break-word;
    scrollbar-width: none;
    background-color: var(--bg);
}

@media only screen and (max-width: 850px) {
    body {
        font-size: xx-small;
    }
}

*:not(h1){
    font-size: large;
}
h1{
    font-family: 'Roboto Slab', serif;
    font-size: xx-large;
    text-decoration: underline;
}

p{
    height: 1%
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#path {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    border-radius: 5%;
    width: 35%;
    background-color: var(--alt-bg);
    color: var(--high-contrast-text);
    border: none
}

input{
    border: 1px var(--alt-bg) solid;
    opacity: 75%;
    color: var(--high-contrast-text);
}
input[type='button']{
    font-family: 'Roboto Slab', serif;
    font-size: x-large;
    border-radius: 8%;
    height: auto;
}
input[type='button']:hover{
    cursor: pointer;
    opacity: 100%;
}
input[type='number']{
    font-family: 'Roboto', serif;
    font-size: x-large;
    border-radius: 4%;
    height: auto;
}
input:focus{
    outline: none;
}

#highscore{
    position:sticky;
    top: 0px;
    right: 4%;
    text-align: right;
    width: 100%;
}

.celebrate{
    text-shadow: 1px 1px 10px lime;
    background-color: inherit;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}